[Desktop Entry]
Encoding=UTF-8
Name=Link to (73) Learn Your Land - YouTube
Type=Link
URL=https://www.youtube.com/@LearnYourLand
Icon=text-html
Name[en_US]=learnYourLand
